.header {
  font-size: 50px;
  margin-left: 380px;
  margin-top: 30px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 170px;
}
.container {
  width: 300px;
  height: 500px;
  margin-left: 320px;
  margin-top: 30px;
}
.todo {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.text {
  flex: 1;
  word-break: break-all;
  margin-left: 3px;
}
.favorite {
  background: none;
  margin-left: 3px;
  border: none;
  cursor: pointer;
}
.delete {
  cursor: pointer;
  margin-right: 3px;
  background: none;
  border: none;
}
.containerForms {
  margin-left: 320px;
  margin-top: 30px;
  width: 450px;
}
.input {
  width: 250px;
}
.addButton {
  margin-left: 5px;
  cursor: pointer;
  background: none;
  border: 1px solid black;
  border-radius: 2px;
}
.noFavorite {
  color: yellow;
  background: none;
  margin-left: 3px;
  border: none;
  cursor: pointer;
}
.setTodo {
  margin-top: 10px;
  background-color: darksalmon;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
